<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../css/style.css" />
</head>
<body>
    <h1>Welcome To-Do List Application</h1>
    <h2>Please login the system, If you have not account, <a href="/register">click to register</a></h2>
    <h2 style="color:red;" th:if="${errorMessage!=''}" th:text="${errorMessage}"></h2>
    <form th:action="@{/loginUser}" th:object="${user}" th:method="post">
	     <table style="width:100px;">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required="required"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" required="required"/></td>
            </tr>
            <tr>
                <td colspan="2"><button style="margin-left: 130px;" type="submit">Login The System</button></td>
            </tr>
        </table>
    </form>
    
</body>
</html>