<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Item</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../css/style.css" />
</head>
<body>
	<h2 style="width: 600px; color:red;" th:if="${errorMessage!=''}" th:text="${errorMessage}"></h2>
    <form th:action="@{/registerUser}" th:object="${user}" th:method="post">
        <table style="width:100px">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required="required" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" required="required"/></td>
            </tr>
             <tr>
                <td>Department:</td>
                <td><input type="text" th:field="*{department}" /></td>
            </tr>
            <tr>
                <td colspan="2" ><button style="margin-left: 200px;" type="submit">Register</button></td>
            </tr>
        </table>
    </form>
</body>
</html>